<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="" >
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta property="fb:app_id" content="">
		
    <link rel="shortcut icon" href="/library/images/common/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/library/images/common/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/library/css/screen.css">
	
    <script src="/library/js/vendor/modernizr.custom.55491.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/library/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/library/js/scripts.min.js"></script>
    <!--[if lt IE 9]>
        <script src="/library/js/polyfill/selectivizr-min.js"></script>
        <script src="/library/js/polyfill/respond.min.js"></script>
    <![endif]-->
    {% block headScripts %}{% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %}">
<div id="root">
    <div id="overlay"></div>
    {% include '../partials/header.html' %}
    {% include '../partials/nav.html' %}
    {% block main %}{% endblock %}
    {% include '../partials/footer.html' %}
</div>
{% block bottomScripts %}{% endblock %}
</body>
</html>